@import url('https://fonts.googleapis.com/css?family=Poor+Story');
/*body {
  margin: 0;
  padding: 0;
    font-family: 'Poor Story', cursive;
background-image: url(/img/pizza.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    background-color: #000000;
}*/

@media (max-width: 480px) {
    .posFix {
        top: 12px;
        position: relative;
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poor Story', cursive;
	background: linear-gradient(-45deg, #1184ee, #ab94e7, #4690d5, #24a1ac);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
